*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

body {
  background: #fff;
  font-size: 14px;
  line-height: 1.3;
  font-family: 'Fira Sans', Arial, sans-serif;
  font-weight: 400;
  color: #2E2D33;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

ol,
ul {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.home-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.site-header {
  max-width: 135px;
  -webkit-flex-basis: 135px;
  -ms-flex-preferred-size: 135px;
  flex-basis: 135px;
  background-color: #fff;
}

.site-header__inner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
  width: 135px;
  padding: 0 15px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  text-align: right;
}

.site-header__email {
  display: block;
  padding-bottom: 20px;
  font-size: 16px;
}

.site-header a {
  color: #999;
  text-decoration: none;
  transition: color 100ms ease-in-out;
  will-change: color;
}

.site-header a:hover, .site-header a:active {
  color: #666;
}

.site_logo a {
  display: block;
  font-size: 68px;
  padding-top: 20px;
  color: #2E2D33;
  font-family: 'Fira Sans', Arial, sans-serif;
  text-decoration: none;
}

.site_logo a:active, .site_logo a:hover {
  color: inherit;
}

.site-nav__list {
  list-style: none;
  margin: 20px 0;
}

.site-nav__item {
  margin-bottom: 10px;
}

.site-nav__item:last-child {
  margin-bottom: 0;
}

.site-nav__item a {
  font-size: 16px;
}

.site-main {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 15px;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding-left: 30px;
}

.intro {
  min-height: 500px;
  background-image: url(../images/bg-into.jpg);
  background-size: cover;
  background-position: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.intro h1 {
  color: #fff;
  text-shadow: #2E2D33 3px 3px 2px;
  font-size: 3em;
}

.intro__content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.intro__face {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 5px solid #fff;
  -webkit-flex: 200px 0 0;
  -ms-flex: 200px 0 0px;
  flex: 200px 0 0;
  background-color: #2E2D33;
  margin-left: 20px;
  background-image: url(../images/intro-face.jpg);
  background-size: 100%;
  background-position: 0 -120px;
  background-repeat: no-repeat;
}

.section {
  padding: 30px 15px;
}

.section:nth-child(2n + 1) {
  background-color: #CDD7C1;
}

.section__title {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1.2px;
  font-size: 18px;
  text-align: right;
  text-shadow: #2E2D33 1px 1px;
  display: block;
  outline: none;
  width: 120px;
  text-transform: uppercase;
  margin-left: -45px;
  position: relative;
  padding-top: 7px;
  margin-bottom: 20px;
}

.section__title--black {
  color: #2E2D33;
  text-shadow: none;
}

.section__title::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #2a5885;
}

.about__content {
  font-size: 18px;
}

.skills__list {
  list-style: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.skills__item {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
  padding: 20px 10px;
  font-size: 18px;
  text-transform: uppercase;
  cursor: default;
}

.git__link {
  color: #2E2D33;
  font-size: 48px;
  text-align: center;
  display: block;
  transition: color 200ms ease-in-out;
  will-change: color;
}

.git__link:hover {
  color: black;
}

.contacts__mail {
  font-size: 18px;
  text-align: center;
}
